body {
    background-color: #464646;
}

#table {
    width: 550px;
}
.cell {
    display: inline-block;
    width: 50px;
    border: 1px solid #000000;
    background-color: #9b4b00;
    text-align: center;
}